function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto 0
push this 0
call Square.moveUp 1
pop temp 0
goto 1
label 0
label 1
push this 1
push constant 2
eq
not
if-goto 2
push this 0
call Square.moveDown 1
pop temp 0
goto 3
label 2
label 3
push this 1
push constant 3
eq
not
if-goto 4
push this 0
call Square.moveLeft 1
pop temp 0
goto 5
label 4
label 5
push this 1
push constant 4
eq
not
if-goto 6
push this 0
call Square.moveRight 1
pop temp 0
goto 7
label 6
label 7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label 0
push local 1
not
not
if-goto 1
label 2
push local 0
push constant 0
eq
not
if-goto 3
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto 2
label 3
push local 0
push constant 81
eq
not
if-goto 4
push constant 1
neg
pop local 1
goto 5
label 4
label 5
push local 0
push constant 90
eq
not
if-goto 6
push this 0
call Square.decSize 1
pop temp 0
goto 7
label 6
label 7
push local 0
push constant 88
eq
not
if-goto 8
push this 0
call Square.incSize 1
pop temp 0
goto 9
label 8
label 9
push local 0
push constant 131
eq
not
if-goto 10
push constant 1
pop this 1
goto 11
label 10
label 11
push local 0
push constant 133
eq
not
if-goto 12
push constant 2
pop this 1
goto 13
label 12
label 13
push local 0
push constant 130
eq
not
if-goto 14
push constant 3
pop this 1
goto 15
label 14
label 15
push local 0
push constant 132
eq
not
if-goto 16
push constant 4
pop this 1
goto 17
label 16
label 17
label 18
push local 0
push constant 0
eq
not
not
if-goto 19
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto 18
label 19
goto 0
label 1
push constant 0
return
